<div class="register-content">
  <mat-card class="register-card">
      <form class="material-form" [formGroup]="registerForm" (ngSubmit)="register()" class="d-flex flex-direction-column align-items-center">
          <mat-card-header class="card-header">
              <mat-card-title>YouTube Room</mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-content">
              <mat-form-field class="w-100">
                  <span matPrefix><img src="./assets/img/icon-user.svg" alt=""></span>
                  <input matInput type="text" placeholder="Nickname" #usernameElement formControlName="username">
                  <mat-error *ngIf="registerForm.get('username').hasError('required')">
                    <mat-hint>Campo obligatorio</mat-hint>
                  </mat-error>
                  <mat-error *ngIf="registerForm.get('username').hasError('minlength')">
                    <mat-hint>Ingrese mínimo 6 caracteres</mat-hint>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <span matPrefix><img src="./assets/img/icon-email.svg" alt=""></span>
                <input matInput type="text" placeholder="Correo" formControlName="email">
                <mat-error *ngIf="registerForm.get('email').hasError('required')">
                  <mat-hint>Campo obligatorio</mat-hint>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <span matPrefix><img src="./assets/img/icon-pass.svg" alt=""></span>
                <input matInput type="password" placeholder="Clave" formControlName="password">
                <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
                  <mat-hint>Ingrese mínimo 6 caracteres</mat-hint>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-100">
                <span matPrefix><img src="./assets/img/icon-gender.svg" alt=""></span>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="genderId">
                  <mat-option [value]="1">Male</mat-option>
                  <mat-option [value]="2">Female</mat-option>
                </mat-select>
              </mat-form-field>
          </mat-card-content>
          <button type="submit" [disabled]="!registerForm.valid" mat-raised-button class="btn-register">Registrar</button>
          <div class="mt-2">
            ¿Ya tienes cuenta?
            <a class="forgot-pass" routerLink="/auth/login">Ingresa ahora</a>
        </div>
      </form>
  </mat-card>
</div>


