<div class="container-chat">
  <section class="messages" #chatMessages>
      <section *ngFor="let chat of chatList">
          <h3 *ngIf="chat.type === 1" class="login">{{chat.message}}</h3>
          <div *ngIf="chat.type === 2" class="msg msg--me">
              <blockquote>{{chat.message}}</blockquote>
          </div>
          <div *ngIf="chat.type === 3" class="msg msg--them">
            <blockquote>{{chat.message}}</blockquote>
          </div>
          <h3 *ngIf="chat.type === 4" class="logout">{{chat.message}}</h3>
      </section>
  </section>
  <form [formGroup]="chatForm">
      <input type="text" placeholder="Mensaje" formControlName="message" (keydown.enter)="sendMessage()">
      <button mat-mini-fab color="primary" class="m2" (click)="sendMessage()" [disabled]="!chatForm.get('message').value">
        <mat-icon>send</mat-icon>
      </button>
  </form>
</div>
