.example-card {
  max-width: 300px;
  margin: 10px 0 !important;
}

.example-header-image {
  background-size: cover;
}

.example-card img{
  margin: 0 -16px 0px -16px !important;
}

mat-card-actions button{
  width: 100%;
}
