<mat-sidenav-container style="height: 100%">
  <mat-sidenav #sidenav mode="side" closed [class.mat-elevation-z3]="!isActive">
      <mat-toolbar color="primary" class="vh10">
          <div class="d-flex justify-content-center w-100">
            ChatRoom - {{ roomName }}
          </div>
      </mat-toolbar>

      <div id="chatMessages" #chatMessages class="vh75">
        <div *ngFor="let chat of chatList">
          <p>
            <b>{{chat.username}}</b> {{chat.message}}
          </p>
        </div>
      </div>

      <mat-card [formGroup]="chatForm" class="chatGroup vh15">
        <mat-card-content>
          <mat-form-field class="chatRow">
            <textarea matInput placeholder="Message" formControlName="message" (keydown.enter)="sendMessage()">
            </textarea>
          </mat-form-field>

          <button mat-mini-fab color="primary" (click)="sendMessage()" [disabled]="!chatForm.get('message').value">
            <mat-icon>send</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="header vh10" color="primary">
          <div class="d-flex justify-content-between align-items-center w-100">
              <mat-icon (click)="sidenavToggle(sidenav)" class="pointer" *ngIf="!isActive">videocam</mat-icon>
              <mat-icon (click)="sidenavToggle(sidenav)" class="pointer" *ngIf="isActive"
                [matBadge]="unreadMessages" matBadgeOverlap="false" matBadgeColor="warn">
                chat
              </mat-icon>
              <div class="d-flex align-items-center">
                <span class="title pointer" (click)="goToHome()">PLAYER {{networkStatus}}</span>
              </div>
              <div class="d-flex align-items-center">
                  <div class="d-flex flex-direction-column toolbar-info">
                      <span class="header-title">Bienvenido {{ username }}</span>
                      <span class="header-sub-title"></span>
                  </div>
                  <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu" aria-label="User">
                      <mat-icon class="color-base">
                          person
                      </mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="cerrarSesion()">
                          <mat-icon>exit_to_app</mat-icon>
                          <span>Desconectarse</span>
                      </button>
                      <button mat-menu-item (click)="subscriberTo()">
                        <mat-icon>subscriptions</mat-icon>
                        <span>Subscribirse</span>
                      </button>
                  </mat-menu>
              </div>
          </div>
      </mat-toolbar>
      <div class="container">
          <!-- <router-outlet></router-outlet> -->
          <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="openDialogSearch()">
            <mat-form-field class="searchRow">
                <mat-placeholder>Buscar Youtube </mat-placeholder>
                <input matInput class="form-control"  name="search" formControlName="search">
                <mat-error *ngIf="searchForm.get('search').hasError('required')">
                  <mat-hint>Ingresar un palabra en la caja de texto</mat-hint>
                </mat-error>
                <button mat-raised-button color="primary" type="submit" matSuffix mat-stroked-button aria-label="search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <video id="myVideo"
            class="video-js vjs-big-play-centered"
            controls
            data-setup='{ "techOrder": ["youtube", "html5"] }'>
        </video>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
